.wrapper {
	width: 85%;
	margin-left: 9%;
}

.project {
	color: grey;
	font-size: 26px;
	margin: 20px 0 0 0;
}

.button button {
	width: 16%;
	padding: 15px 10px;
}
.button button a {
	text-decoration: none;
	color: grey;
	font-size: 15px;
}